footer {
    background: var(--black);
    color: var(--white);
    padding: 100px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h3 {
    font-size: 48px;
}

footer .right {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 26px;
}

footer .right .links {
    display: flex;
    gap: 30px;
}

footer .right .links a {
    color: var(--footer-letter);
    transition: color 0.3s ease;
}

footer .right .links a:hover {
    color: var(--white);
}

footer .right .social {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .right .social i {
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s ease;
}

footer .right .social i:hover {
    color: var(--light-blue);
}

footer .right p {
    font-size: 13px;
    color: var(--copyright);
}