@import url('./header.css');
@import url('./nav.css');
@import url('./media.css');
@import url('./footer.css');
@import url('./bestsellers.css');
@import url('./main.css');
@import url('./nft__shop.css');


:root {
    --shadow: #464646;
    --white: #fff;
    --blue: #0f2182;
    --light-blue: #304ffe;
    --background: #f1f1f1;
    --black: #000;
    --footer-letter: #989898;
    --copyright: #777;
    --category: #dfdcdc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
    color: var(--black);
}

img {
    object-fit: cover;
}

body {
    background: var(--background);
}