@media screen and (max-width: 1400px) {
    
    main,
    h2.separator,
    .sell-nft,
    .nft-shop,
    .sellers{
        padding: 0 40px;
    }

    header .left h1{
        font-size: 60px;
    }

    header img{
        width: 540px;
    }

    .nft-shop .nft-list .item img{
        width: 220px;
        height: 220px;
    }

    footer{
        padding: 100px 40px;
    }

    footer h3{
        font-size: 38px;
    }

}

@media screen and (max-width: 1200px) {
    main .left h1 {
        font-size: 48px;
    }

    main img {
        width: 480px;
    }

    h2.separator {
        font-size: 34px;
    }
    
    .sell-nft .item .header i {
        font-size: 36px;
    }

    .sell-nft .item .header h5{
        font-size: 15px;
    }

    .sell-nft .item p{
        font-size: 13px;
    }

    .nft-shop .nft-list{
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .nft-shop .nft-list .item{
        width: 48%;
    }

    .nft-shop .nft-list .item img{
        width: 100%;
        height: auto;
    }

    .sellers{
        flex-wrap: wrap;
    }

    .sellers .item{
        width: 48%;
    }

    footer .links a{
        font-size: 15px;
    }
}

@media screen and (max-width: 992px) {
    main {
        flex-direction: column-reverse;
        height: auto;
        margin-bottom: 60px;
    }

    main .left {
        width: 100%;
    }

    main img {
        width: 100%;
    }

    .sell-nft {
        flex-wrap: wrap;
        gap: 20px;
    }

    .sell-nft .item{
        width: 48%;
    }

    .sellers{
        gap: 20px;
    }

    footer{
        flex-direction: column;
        padding: 60px 40px;
    }

    footer h3{
        margin-bottom: 40px;
        font-size: 32px;
    }

    footer .right{
        width: 100%;
        align-items: center;
    }    
}

@media screen and (max-width: 768px) {

    main, h2.separator, .sell-nft, .nft-shop, .sellers {
        padding: 0 10px;
    }

    main .left h1 {
        font-size: 16px;
    }

    main .img {
        width: 300px;
    }

    main .left p {
        font-size: 14px;
    }

    main .left a {
        padding: 6px;
        width: 160px;
        font-size: 14px;
    }

    main .left a i {
        padding: 6px;
    }

    h2.separator {
        font-size: 30px;
    }

    footer {
        padding: 40px 20px;
    }
}

@media screen and (max-width: 576px) {

    main .left h1 {
        font-size: 10px;
    }

    .sell-nft .item {
        width: 100%;
    }

    .nft-shop .nft-list .item, .sellers .item {
        width: 47%;
    }

    .nft-shop .category a {
        font-size: 13px;
    } 
}